body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    position: relative; /* Add this line to make it relative for proper positioning */
}

/* Header Styles */
.header {
    background-color: #007BFF;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

/* Sidebar Styles */
.sidebar {
    background-color: #333;
    color: #FFF;
    width: 200px;
    padding: 20px;
    transition: width 0.3s;
    height: 100vh;
    top: 60px;
    position: fixed; /* Add this line to make it fixed */
    border-top-right-radius: 10px;
}

/* Content Styles */
.content {
    background-color: #FFF;
    color: #333;
    transition: margin 0.3s;
    padding: 20px; /* Add padding to separate content from sidebar */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #007BFF;
    padding-left: 10px;
    border-left: 5px solid #FFF;
    transition: 0.3s;
}

/* Sidebar Toggle Button Styles */
.sidebar-toggle {
    cursor: pointer;
    background-color: #007BFF;
    color: #FFF;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 50%;

}

/* Student Information Styles */
.student-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 280px; /* Add margin to separate from the sidebar */
}
/*